.inputContain {
	margin-top: 3rem;
	position: relative;
}
.input {
	height: 3rem;
	width: 100%;
	min-width: 30rem;
	border: none;
	font-size: var(--p);
	color: var(--main-color);
	border-bottom: 1px solid var(--gray2);
	/* border-radius: var(--br-1); */
	height: 3rem;
	padding: 1rem 0rem;
	margin-bottom: 1.9rem;
}
.input:focus {
	outline: none;
	border-color: var(--highlight);
}
.input:focus + .placeholderText .text,
:not(.input[value=""]) + .placeholderText .text {
	font-size: var(--p3);
	color: var(--secondary-text);
	transform: translate(0, -170%);
}
.input:focus + .placeholderText .text {
	border-color: var(--highlight);
	color: var(--highlight);
}
.placeholderText {
	position: absolute;
	top: 0;
	bottom: 2rem;
	left: 0rem;
	right: 0;
	border: 3px solid transparent;
	background-color: transparent;
	pointer-events: none;
	display: flex;
	align-items: center;
}
.text {
	color: var(--highlight);
	font-size: var(--p);
	/* padding: 0 0.5rem; */
	background-color: transparent;
	transform: translate(0);
	transition: transform 0.15s ease-out, font-size 0.15s ease-out,
		background-color 0.2s ease-out, color 0.15s ease-out;
}
