.inputContain {
	position: relative;
}
.input {
	height: 5rem;
	width: 40rem;
	border: 2px solid black;
	border-radius: 1rem;
}
.input:focus {
	outline: none;
	border-color: blueviolet;
}
.input:focus + .placeholderText .text,
:not(.input[value=""]) + .placeholderText .text {
	background-color: white;
	font-size: 1.1rem;
	color: black;
	transform: translate(0, -170%);
}
.input:focus + .placeholderText .text {
	border-color: blueviolet;
	color: blueviolet;
}
.placeholderText {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 6rem;
	right: 0;
	border: 3px solid transparent;
	background-color: transparent;
	pointer-events: none;
	display: flex;
	align-items: center;
}
.text {
	font-size: 1.4rem;
	padding: 0 0.5rem;
	background-color: transparent;
	transform: translate(0);
	transition: transform 0.15s ease-out, font-size 0.15s ease-out,
		background-color 0.2s ease-out, color 0.15s ease-out;
}
.input,
.placeholderText {
	font-size: 1.4rem;
	padding: 0 1.2rem;
}

@media (max-width: 40rem) {
	.input {
		width: 70vw;
	}
}
