.table {
	width: 100%;
}

.tableHeader {
	margin-bottom: 2rem;
	border-bottom: 1px solid var(--gray2);
}

.table tr {
	width: 100%;
	/* min-width: 20rem; */
	min-height: 3rem;
	height: auto;
	display: flex;
	/* justify-content: space-between; */
}
.table th {
	/* width: 33.3%; */
	display: flex;
	flex-direction: row;
	min-width: 20%;
}
