/*nav*/
.navContainer {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.toast {
	position: fixed;
	right: 3.2rem;
	top: 3.2rem;
	z-index: 99999;
}

/* main  */
main {
	min-height: calc(100vh - 9rem);
	width: 100%;
}

/**/
@media (max-width: 48em) {
	.mobilePadding {
		padding: 0 1rem;
	}
}

/*
$grid-breakpoints: (
  xs: 0,
  sm: 48em,
  md: 62em,
  lg:75em,
);
*/
