@import "./fonts.css";
@import "./spacings.css";

:root {
	/*colors*/
	--black: #000;
	--white: #fff;

	--highlight: #2c74bb; /*cambio 4a4e5c*/
	--main-color: #141a26;
	--gray: #eee;
	--gray2: #d9d9d9;
	--gray3: #5a5a5a;
	--selectedTab: #4a4e5c;
	--green: #04cc00;
	--red: #d63944;

	--background: #eeeeee;
	--color-main: #0008cc;
	--color-secondary: #0008cc;

	/*Lead Colors*/
	--cold-lead: #8dbdec;
	--warm-lead: #eed347;
	--hot-lead: #d63944;
	--tracing-lead: #e08a08;
	--messages: #dcf8c8;

	/*Text Colors*/
	--main-text: #141a26;
	/* --subtext: #5a5a5a; */
	--secondary-text: #747474;
	--highlight-text: #9d9ea0;
	--link: #0069d1;

	/* Border Radious */
	--br-1: 0.5rem;
	--br-2: 1rem;
	--br-3: 2rem;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	padding: 0;
	border: 0;
	margin: 0;
}
html {
	font-size: 10px;
	font-family: "Monserrat";
}
body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
	font-weight: normal;
	line-height: 2.5rem;
	background-color: var(--background);
}

.fullPage {
	min-height: 100vh;
}

.content-side {
	padding: 1rem 2rem;
}

.padding-side {
	padding: 0 2rem;
}

.navbar-side {
	padding: 3rem 0rem 3rem 0;
}

.mainContainer {
	background-color: var(--white);
	padding: 2rem;
	border-radius: var(--br-2);
}

a {
	text-decoration: none;
}
hr {
	border: 0;
	border-top: 3px solid var(--color-secondary);
	border-radius: var(--br-2);
}

.no-margin {
	margin: 0 !important;
}

/*
$grid-breakpoints: (
  xs: 0,
  sm: 48em,
  md: 62em,
  lg:75em,
);
*/
