/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/
:root {
	/*colors*/
	--m1: 1rem;
	--m2: 2rem;
	--m3: 3rem;
	--m4: 4rem;
	--m5: 5rem;
}

/*margins*/
/*top*/
.mt-0 {
	margin-top: 0 !important;
}
.mt-1 {
	margin-top: var(--m1) !important;
}
.mt-2 {
	margin-top: var(--m2) !important;
}
.mt-3 {
	margin-top: var(--m3) !important;
}
.mt-4 {
	margin-top: var(--m4) !important;
}
.mt-5 {
	margin-top: var(--m5) !important;
}
/*right*/
.mr-0 {
	margin-right: 0 !important;
}
.mr-1 {
	margin-right: var(--m1) !important;
}
.mr-2 {
	margin-right: var(--m2) !important;
}
.mr-3 {
	margin-right: var(--m3) !important;
}
.mr-4 {
	margin-right: var(--m4) !important;
}
.mr-5 {
	margin-right: var(--m5) !important;
}
/*bottom*/
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-1 {
	margin-bottom: var(--m1) !important;
}
.mb-2 {
	margin-bottom: var(--m2) !important;
}
.mb-3 {
	margin-bottom: var(--m3) !important;
}
.mb-4 {
	margin-bottom: var(--m4) !important;
}
.mb-5 {
	margin-bottom: var(--m5) !important;
}
/*left*/
.ml-0 {
	margin-left: 0 !important;
}
.ml-1 {
	margin-left: var(--m1) !important;
}
.ml-2 {
	margin-left: var(--m2) !important;
}
.ml-3 {
	margin-left: var(--m3) !important;
}
.ml-4 {
	margin-left: var(--m4) !important;
}
.ml-5 {
	margin-left: var(--m5) !important;
}

.globalPadding {
	padding: 2rem;
}

.contentPadding {
	padding: 2rem 0 0 2rem;
}
.contentVerticalPadding {
	padding: 2rem 0;
}
.noPadding {
	padding: 0;
}
.noMargin {
	margin: 0;
}
