.button {
	width: 16rem;
	height: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	border-radius: 6.3rem;
	background-color: var(--selectedTab);
	font-weight: 600;
	color: var(--white);
	cursor: pointer;
}
