.mainContainer {
	min-height: calc(100vh - 7rem - 3rem - 3rem - 3rem);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		"card1 card1 card2"
		"card3 card3 card4";
}
@media (max-width: 75em) {
	.mainContainer {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-template-areas:
			"card1"
			"card2"
			"card3"
			"card4";
	}
}
/*
$grid-breakpoints: (
  xs: 0,
  sm: 48em,
  md: 62em,
  lg:75em,
);
*/

.card1 {
	grid-area: card1;
}
.card2 {
	grid-area: card2;
}
.card3 {
	grid-area: card3;
}
.card4 {
	grid-area: card4;
}

/* Card styles */
.cardContainer {
	padding: 1rem;
	max-width: 100%;
}

.card {
	background-color: var(--white);
	border-radius: var(--br-2);
	min-height: 100%;
	max-width: 100%;
}

/* filters */
.filtersContainer {
	height: auto;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 48em) {
	.filtersContainer {
		justify-content: right;
	}
}

.searchContainer {
	height: 3rem;
	width: fit-content;
	border-radius: var(--br-1);
	border-bottom: 1px solid var(--secondary-text);

	display: flex;
}
@media (max-width: 48em) {
	.searchContainer {
		display: none;
	}
}
.searchContainer input {
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	font-size: var(--p2);
}
.searchContainer svg:hover {
	cursor: pointer;
}
.searchContainer input:focus {
	border-color: rgba(0, 0, 0, 0);
	outline: none;
	/* font-size: var(--p); */
}
.iconContainer {
	height: 3rem;
	padding-bottom: 0.3rem;
}
