/* header  */
header {
	height: 7rem;
	width: 100%;
	background-color: var(--black);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.09);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 1.5rem;

	position: sticky;
	top: 0;
	z-index: 90;
}

.userPhoto {
	height: 70%;
	width: auto;
	border-radius: 50%;
}
.logo {
	height: 90%;
	width: auto;
	max-height: 100%;
	max-width: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
}
