.mainContainer {
}

.userData {
	min-height: calc(100vh - 7rem - 3rem - 3rem - 3rem);
	/* full - header - marginURL - marginTabHeader */
	background-color: var(--white);
	border-radius: var(--br-2);
	padding-top: 1rem;
}

@media (max-width: 63em) {
	.userData {
		display: none;
	}
}

.filtersContainer {
	height: auto;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 48em) {
	.filtersContainer {
		justify-content: right;
	}
}

.searchContainer {
	height: 3rem;
	border-bottom: 1px solid var(--secondary-text);

	display: flex;
}
@media (max-width: 48em) {
	.searchContainer {
		display: none;
	}
}
.searchContainer input {
	background-color: rgba(0, 0, 0, 0);
	font-size: var(--p2);
}
.searchContainer svg:hover {
	cursor: pointer;
}
.searchContainer input:focus {
	border-color: rgba(0, 0, 0, 0);
	outline: none;
	font-size: var(--p);
}
.buttonContainer {
	width: 100%;
	height: auto;
}

/*
$grid-breakpoints: (
  xs: 0,
  sm: 48em,
  md: 62em,
  lg:75em,
);
*/
