.mainContainer {
}

.userData {
	min-height: calc(100vh - 7rem - 3rem - 3rem - 3rem);
	/* full - header - marginURL - marginTabHeader */
	background-color: var(--white);
	border-radius: var(--br-2);
	padding-top: 1rem;
}

@media (max-width: 63em) {
	.userData {
		display: none;
	}
}

.buttonContainer {
	width: 100%;
	height: auto;
	margin-top: -3rem;
}

/*
$grid-breakpoints: (
  xs: 0,
  sm: 48em,
  md: 62em,
  lg:75em,
);
*/
