.wrapper {
	width: 380px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.toast {
	width: 100%;
	height: 80px;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 7px;
	display: grid;
	grid-template-columns: 1.3fr 6fr 0.5fr;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}
.success {
	border-left: 8px solid #47d764;
}
.error {
	border-left: 8px solid #ff355b;
}
.info {
	border-left: 8px solid #2f86eb;
}
.warning {
	border-left: 8px solid #ffc021;
}
.error i {
	color: #ff355b;
}
.info i {
	color: #2f86eb;
}
.warning i {
	color: #ffc021;
}
.toast:not(:last-child) {
	margin-bottom: 50px;
}
.container1,
.container2 {
	align-self: center;
}
.container1 i {
	font-size: 35px;
}
.success i {
	color: #47d764;
}
.container2 p:first-child {
	color: #101020;
	font-weight: 600;
	font-size: 16px;
}
.container2 p:last-child {
	font-size: 12px;
	font-weight: 400;
	color: #656565;
}
.toast button {
	align-self: flex-start;
	background-color: transparent;
	font-size: 25px;
	color: #656565;
	line-height: 0;
	cursor: pointer;
}
