.iconContainer {
	height: 2rem;
	width: 2rem;
}
.titleContainer {
	display: flex;
	align-items: baseline;
	gap: 1rem;
}

/* card1 styles */
.infoContainer {
	border-bottom: 0.2rem solid var(--gray2);
}
.detailsCard {
	width: 100%;

	display: flex;
	align-items: flex-end;
	justify-content: start;

	flex-wrap: wrap;
	gap: 2rem;
}
@media (max-width: 62em) {
	.detailsCard {
		justify-content: space-between;
	}
}
.detailsComponent {
	height: 100%;
	min-width: 40%;
}
@media (max-width: 48em) {
	.detailsComponent {
		min-width: 100%;
	}
}

/* card2 styles */

/* card3 styles */

/* card4 styles */
