.table {
	width: 100%;
}

.table tr {
	width: 100%;
	height: 3rem;
	display: flex;
	/* justify-content: space-between; */
}
.table th {
	width: 33.3%;
	display: flex;
	flex-direction: row;
}

.iconContainer {
	width: 1rem;
	height: 1rem;
}
