.card {
	width: 100%;
	height: 6rem;

	padding: 2rem;
	border-radius: 1rem;
	/* border: 1px solid var(--gray2); */
	background-color: rgba(230, 230, 230, 0.2);
	box-shadow: 0 4px 10px 0 rgba(114, 114, 114, 0.1);

	transition: all 0.5s ease-out;
	overflow: hidden;
}

.fullCard {
	height: 12rem;
}

.cardContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.iconContainer {
	height: 1.5rem;
	width: 1.5rem;
	/* transition: all 0.5s ease-out; */
}
.rotate {
	transform: rotate(90deg);
}

.left {
	height: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
}
