.show {
}
/* 
calculo de altura:
2.8 * Cantidad_Items 
*/

#sells.show {
	height: 14rem;
}

#support.show {
	height: 11rem;
}

#marketing.show {
	height: 31rem;
}

#product.show {
	height: 5rem;
}

#hr.show {
	height: 14rem;
}
