.tabs {
	display: flex;
	gap: 1rem;
}

.tab {
	padding: 0.3rem 2rem;
	border-radius: 20px;
	background-color: var(--gray2);
	color: var(--gray1);
}

.tabs > .active {
	background-color: #2c74bb;
	color: var(--white);
}

/* agendacard  */
.agendaCard {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--background);
	border-radius: var(--br-2);
	padding: 1rem;
}
.content {
	display: flex;
	flex-wrap: wrap;
	gap: 0rem 2rem;
}
