/* piechart styles  */
.chartContainer {
	max-width: 32rem;
	margin: auto;
}
@media (max-width: 48em) {
	.chartContainer {
		margin-bottom: 2rem;
	}
}

/* label styles */
.square {
	height: 2rem;
	width: 2rem;
	border-radius: 0.25rem;
}
.labelContainer {
	margin-bottom: 1rem;
}
@media (max-width: 62em) {
	.labelContainer {
		display: flex;
		justify-content: space-between;
	}
}
@media (max-width: 48em) {
	.labelContainer {
		margin-bottom: 2rem;
	}
}
.labelHeader {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.labelNumbers {
	padding-left: 3rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}
@media (max-width: 62em) {
	.labelNumbers {
		gap: 2rem;
	}
}

/*
$grid-breakpoints: (
  xs: 0,
  sm: 48em,
  md: 62em,
  lg:75em,
);
*/
